html, body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#mapid { 
  height: 100%;
  margin: 0px;
  overflow: hidden; 
}

.container {
  height: 100vh;
}

option:hover { 
  background-color: rgb(226, 39, 39) !important;
  font-weight: bold;
  font-style: italic;
}

.info {
  top:5%;
  right:0%;
  left:-30%;
  outline: none;
  overflow:hidden;
  }

  .modalImages {
    height: 20px;
    width: 20px;
  }