html, body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#mapid { 
  height: 100%;
  margin: 0px;
  overflow: hidden; 
}

.container {
  height: 100vh;
}

option:hover { 
  background-color: rgb(226, 39, 39) !important;
  font-weight: bold;
  font-style: italic;
}




